@font-face{
    font-family: "Yantramanav";
    src: url("fonts/Yantramanav-Light.ttf") format("truetype");
}

.title
{
    -fx-font-size: 48px;
    -fx-font-weight: 300;
    -fx-font-family: "Yantramanav Light";
    -fx-text-fill: #E85A4F !important;
    -fx-fill: #E85A4F;
}

.header_1
{
    -fx-font-size: 30px;
    -fx-font-weight: 300;
    -fx-font-family: "Yantramanav Light";
    -fx-text-fill: #E85A4F !important;
    -fx-fill: #E85A4F;
}

.header_2
{
    -fx-font-size: 24px;
    -fx-font-weight: 300;
    -fx-font-family: "Yantramanav Light";
    -fx-text-fill: #E98074 !important;
    -fx-fill: #E98074;
}


Button
{
    -fx-padding: 8px;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-border-width: 1px;
    -fx-text-fill: #3e3b3b;
    -fx-background-color: #D8C3A5;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 5, 0.05, 2, 3);
}

TextField
{
    -fx-background-insets: 0;
    -fx-padding: 8px;
    -fx-border-color: #D8C3A5;
    -fx-text-fill: #8E8D8A;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 5, 0.05, 2, 3);
}

.background
{
    -fx-background-color: #EAE7DC;
}

.textwarning
{
    -fx-text-fill: #E98074;
    -fx-font-size: 12px;
}

.textnormal
{
    -fx-text-fill: #8E8D8A;
    -fx-fill: #8E8D8A;
}